@model Projeto_SolCar.Entidades.Clientes

@{
    ViewData["Title"] = "Cadastrar";
}

<h2>Cadastrar</h2>


<hr />

<h2>Informações pessoais</h2>
<div class="row justify-content-md-centerrow">
    <div class="col-md-12">
        <form asp-action="Cadastrar" class="row g-3">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="col-md-6">
                <label asp-for="Nome" class="form-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Data_nasc" class="form-label"></label>
                <input asp-for="Data_nasc" class="form-control" />
                <span asp-validation-for="Data_nasc" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="CPF" class="form-label"></label>
                <input asp-for="CPF" class="form-control" />
                <span asp-validation-for="CPF" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="RG" class="form-label"></label>
                <input asp-for="RG" class="form-control" />
                <span asp-validation-for="RG" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Sexo" class="form-label"></label>
                <select asp-for="Sexo" class="form-select" aria-label="Selecione o seu sexo"> <option selected=""></option> <option value="_M">Masculino</option> <option value="_F">Feminino</option> <option value="_PnD">Prefiro não dizer</option> </select>
                <span asp-validation-for="Sexo" class="text-danger"></span>
            </div>
            <div class="col-md-8">
                <label asp-for="Email" class="form-label"></label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Telefone" class="form-label"></label>
                <input asp-for="Telefone" class="form-control" />
                <span asp-validation-for="Telefone" class="text-danger"></span>
            </div>
            <hr style="margin-top:40px"></hr>
            <H2>Informações de Endereço</H2>

            <div class="col-md-6">
                <label asp-for="Endereco" class="form-label"></label>
                <input asp-for="Endereco" class="form-control" />
                <span asp-validation-for="Endereco" class="text-danger"></span>
            </div>
            <div class="col-md-6">
                <label asp-for="Bairro" class="form-label"></label>
                <input asp-for="Bairro" class="form-control" />
                <span asp-validation-for="Bairro" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="CEP" class="form-label"></label>
                <input asp-for="CEP" class="form-control" />
                <span asp-validation-for="CEP" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Cidade" class="form-label"></label>
                <input asp-for="Cidade" class="form-control" />
                <span asp-validation-for="Cidade" class="text-danger"></span>
            </div>
            <div class="col-md-4">
                <label asp-for="Estado" class="form-label"></label>
                <input asp-for="Estado" class="form-control" />
                <span asp-validation-for="Estado" class="text-danger"></span>
            </div>
            <div class="d-grid gap-2">
                <input type="submit" value="Cadastrar informações" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
